{% extends "books/main.html" %}
{% load bootstrap4 %}

{% block title %}Books list | Library{% endblock %}

{% block content %}
<div class="row">
    <h1>Books list:</h1>
    <ul>
    {% for b in books %}
    <li>
        <img class="pb-2" src="{{ b.image.url }}" width="50px" text-align="left">
        <a href="{% url 'books:book_details' b.id %}">{{ b.title }}</a>
        (Author: <a href="{% url 'books:author_details' b.author_id %}">{{ b.author }}</a>)
    </li>
    {% endfor %}
</ul>
</div>
{% endblock %}