{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>{% block title %} Library {% endblock %}</title>
   {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'maths/css/style.css' %}">
   {# Load CSS and JavaScript #}
   {% bootstrap_css %}
   {% bootstrap_javascript jquery='full' %}
</head>
<body>
   <nav class="navbar sticky-top navbar-dark mb-3" style="background-color: #023d64;">
      <div class="container-fluid">
         <span class="navbar-text navbar-lg">
            <h2>Library</h2>
            <p>borrow Your Favourite Book</p>
         </span>
         <div class="inline">
            <a class="navbar-text" href="{% url 'books:home' %}">Home</a>
            <a class="navbar-text" href="{% url 'books:books_list' %}">Books</a>
            <a class="navbar-text" href="{% url 'books:authors_list' %}">Authors</a>
            <a class="navbar-text" href="{% url 'welcome' %}">APP</a>
            {% if user.is_authenticated %}
               <p class="navbar-text">
                  || <a href="/admin">PA</a> | {{ user.username }} | <a href="{% url 'logout' %}?next={{ request.get_full_path }}">logout</a>
               </p>
            {% else %}
               <p class="navbar-text">|| <a class="navbar-text" href="{% url 'login' %}?next={{ request.get_full_path }}">login</a></p>
            {% endif %}
         </div>
      </div>
   </nav>
   <div id="content"> 
      {% bootstrap_messages %}
      <div class="container">
         {% block content %}
         {% endblock %}
      </div> 
   </div>
</body>
</html>