{% extends "greetings/main.html" %}
{% load static %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>O mnie</h1>
    <img id="about" src="{% static 'greetings/img/lukasz-zytko.jpg' %}" >
    <ul>
        <li>Nazywam się Łukasz Żytko i mieszkam w Warszawie</li>
        <li>Zawodowo od 14 lat zajmuje się SEO</li>
        <li>Aktualnie poszerzam swoje zainteresowania o Pythona</li>
        <li>Prywatnie jestem mężem Joanny i ojcem oraz wielkim fanem 6-letniej Zośki</li>
        <li>Jestem też fanem Hiszpani, kultury tego kraju ale przede wszystkim jedzednia i wina :) </li>
    </ul>
{% endblock %}
