{% extends "main.html" %}

{% block title %}Szczegóły autora{% endblock %}

{% block content %}
<div class="row">
    <div class="col-5">
        <h1>{{ author.nick }}</h1>
        <p><strong>Email: {{ author.email }}</strong></p>
        <p><strong>Bio: </strong>{{ author.bio }}</p>
        <a class="btn btn-success" href="{% url 'blog:authors_list' %}">Wróć do listy autorów</a>
    </div>
    <div class="col">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">tytuł</th>
                <th scope="col">content</th>
              </tr>
            </thead>
            <tbody>
                {% for p in posts %}  
                    <tr>
                        <td><a href="{% url 'blog:post_details' p.id %}">{{ p.title }}</a></td>
                        <td>{{ p.content|truncatechars:100 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

