<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>{% block title %} Blog {% endblock %}</title>
</head>
<body>
   {% if messages %}
      <ul class="messages">
         {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
         {% endfor %}
      </ul>
   {% endif %}
<p><a href="{% url 'blog:posts_list' %}">Lista postów</a> | <a href="{% url 'blog:authors_list' %}">Lista autorów</a></p>
{% block content %}
{% endblock %}
</body>
</html>