{% extends "main.html" %}
{% load bootstrap4 %}

{% block title %}Posts list{% endblock %}

{% block content %}
<div class="row">
    <div class="col-8">
        <h1>Lista postów</h1>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">tytuł</th>
                <th scope="col">content</th>
                <th scope="col">autor</th>
              </tr>
            </thead>
            <tbody>
                {% for p in posts %}  
                    <tr>
                        <th scope="row">{{ p.id }}</th>
                        <td><a href="{% url 'blog:post_details' p.id %}">{{ p.title }}</a></td>
                        <td>{{ p.content|truncatechars:50 }}</td>
                        <td><a href="{% url 'blog:author_details' p.author_id %}">{{ p.author }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <div class="btn-group" role="group">
                    {% if posts.has_previous %}
                        <a class="btn btn-outline-dark btn-sm" href="?page=1"><< first</a>
                        <a class="btn btn-outline-dark btn-sm" href="?page={{ posts.previous_page_number }}">previous</a>
                    {% endif %}
                    
                        <button class="btn btn-dark btn-sm">Page {{ posts.number }} of {{ posts.paginator.num_pages }}</button>

                    {% if posts.has_next %}
                        <a class="btn btn-outline-dark btn-sm" href="?page={{ posts.next_page_number }}">next</a>
                        <a class="btn btn-outline-dark btn-sm" href="?page={{ posts.paginator.num_pages }}">last >></a>
                    {% endif %}
            </div>
        </div>
    </div>
    <div class="col">
        {% if perms.posts.add_post %}
        <h2><span class="align-middle">Dodaj post</span></h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form post_form %}
            <input type="submit" value="Dodaj">
        </form> 
        {% endif %}
    </div>
</div>
{% endblock %}